@model Logement.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Account/_AuthLayout.cshtml";
}

<section class="body">
    @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewData["ReturnUrl"] }, FormMethod.Post))
    {
        <h2>Welcome back!</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-floating mb-3">
            <div>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })</div>
            <div>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</div>
        </div>

        <div class="form-floating mb-3">
            <div>@Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type = "password", @id ="password" })</div>
            <div>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</div>
        </div>
         <div class="checkbox mb-3">
            <label asp-for="RememberMe" class="form-label">
                <input class="form-check-input" asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
         </div>
        <div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </div>
    }
</section>


<script src = "~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

$(".btnshow").mousedown(function () { 
    $("#password").attr("type", "text");
    $("#image").attr("src", "~/img/hide_icon.png");
});

$(".btnshow").on("mouseleave" ,function () { 
    $("#password").attr("type", "password");
    $("#image").attr("src", "~/img/show_icon.png");
});

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
