@model Logement.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<style>
    form > * {
        margin: 1em auto;
    }

    .search-box {
        display: none;
    }

    input[type='image'] {
    width: 30px;

}
</style>

@using (Html.BeginForm("Login", "Account", new { returnUrl = ViewData["ReturnUrl"] }, FormMethod.Post))
{
    <h3>@ViewData["Title"]</h3>

    <div>
        <div>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })</div>
        <div>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</div>
    </div>

    <div class="pword">
        <div>@Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type = "password", @id ="password" })</div>       
        <div>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</div>
        <span>
            <input type="image" class="btnshow" src="~/img/hide_icon.png" style="font-size:8px;" , id="image">
        </span>
    </div>

   

    <div>
        <input type="submit" class="btn btn-success" value="Sign In">
    </div>
}

<p>
    <a href="/Account/Register" id="RecoverPassword">Create an account if you don't have one</a>
</p>

<script src = "~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

$(".btnshow").mousedown(function () { 
    $("#password").attr("type", "text");
    $("#image").attr("src", "~/img/hide_icon.png");
});

$(".btnshow").on("mouseleave" ,function () { 
    $("#password").attr("type", "password");
    $("#image").attr("src", "~/img/show_icon.png");
});

</script>
