@model Logement.ViewModels.ApartmentBaseInfos

@{
    ViewData["Title"] = "Apartment Details";
}

<style>
    .body {
        font-family: Arial, sans-serif;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .content-header {
    text-align: center;
    margin-bottom: 30px;
    }

    .content-header h1 {
        font-size: 32px; 
        margin: 0;
        color: #007bff; 
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    .image-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        margin-bottom: 20px;
    }

    .image-card {
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
    }

    .image-card img {
        width: 100%; 
        height: 200px; 
        object-fit: cover;
        border-radius: 7px;
    }

    .apartment-info {
        background-color: #f9f9f9;
        border: 1px solid #e0e0e0;
        border-radius: 7px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .apartment-info h3 {
        font-size: 24px; 
        margin-bottom: 15px;
        color: #333; 
    }

    .apartment-info p {
        margin: 0;
        font-size: 16px; 
        line-height: 1.6; 
        color: #666;
    }

    .body {
        padding: 20px;
        margin-bottom: 30px
    }
</style>

<section class="body">
    <section class="content-header">
        <h1>
            Apartment Details
        </h1>
    </section>

    <div class="apartment-info">
        <h3>Apartment Number: @Model.ApartmentInfos.Id</h3>
        <p><strong>City Name:</strong> @Model.ApartmentInfos.CityName</p>
        <p><strong>Located at:</strong> @Model.ApartmentInfos.LocatedAt</p>
        <p><strong>Number of Rooms:</strong> @Model.ApartmentInfos.NumberOfRooms</p>
        <p><strong>Number of Bathrooms:</strong> @Model.ApartmentInfos.NumberOfbathRooms</p>
        <p><strong>Room Area:</strong> @Model.ApartmentInfos.RoomArea</p>
        <p><strong>Floor Number:</strong> @Model.ApartmentInfos.FloorNumber</p>
        <p><strong>Price:</strong> @Model.ApartmentInfos.Price</p>
    </div>

    <div>
        <div class="image-container">
            @foreach (var image in Model.ApartmentImages)
            {
                <div class="image-card">
                    <img src="data:@image.ContentType;base64,@Convert.ToBase64String(image.Data)" alt="Apartment Image" />           
                </div>
            }
        </div>
    </div>
</section>
