@model IEnumerable<Logement.ViewModels.AllUsersViewModel>

@{
    ViewData["Title"] = "GetAllUsers";
}

<h3>List of all users who have created an account</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenantFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.TenantFullName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.MaritalStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <di class="button">
                        <a class="buttonChoose" href="/Tenant/AddAsTenant?cityId=@item.CityId&tenantId=@item.TenantId">Choose</a>
                    </di>                 
                </td>
            </tr>
        }
    </tbody>
</table>

<style>


    .button {
        display: flex;
        justify-content: space-between;
    }

    .buttonChoose {
        display: grid;
        height: 35px;
        width: 80px;
        background-color: #445744;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 500;
        margin-right: 2px;
        text-decoration: none;
        border-radius: 10px;
        place-items: center;
    }

    .buttonDelete {
        display: grid;
        height: 35px;
        width: 75px;
        background-color: red;
        margin-right: 5px;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        border-radius: 10px;
        place-items: center;
    }

    .buttonChoose:hover  {
        background-color: #002ead;
        transition: 0.7s;
    }

    .buttonDelete:hover {
        background-color: #002ead;
        transition: 0.7s;
    }
</style>