@model IEnumerable<Logement.ViewModels.ApartmentViewModel>

@{
    ViewData["Title"] = "ApartmentList";
    long? cityId = (long)ViewData["cityId"];
}

<style>
    .content-header {
        font-size: 30px;
        margin-top: 100px;
    }

    .body {
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .table{
        margin-top: 50px;
    }

    .button {
        display: flex;
        justify-content: space-between;
    }

    .buttonRentStatus {
        display: grid;
        height: 35px;
        width: 100px;
        background-color: #445744;
        margin-right: 5px;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        border-radius: 10px;
        place-items: center;
    }

    .buttonPaymentHis {
        display: grid;
        height: 35px;
        width: 150px;
        background-color: #e65959;
        margin: auto;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        border-radius: 10px;
        place-items: center;
    }
</style>

<section class="body">
    <section class="content-header">
        <h1>
            Apartments
            <a class="btn btn-success" href="@Url.Action("GetAllUsers", "Apartment", new { cityId = cityId})">
                <span>Pending Users</span>
                <i class="fa fa-plus"></i>
            </a>
        </h1>
    </section>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApartmentNunber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OccupiedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepositePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FloorNumber)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="CityName">
                            @Html.DisplayFor(modelItem => item.CityName)
                        </div>
                    </td>
                    <td>
                        <a class="city-name" asp-controller="Apartment" asp-action="ApartmentDetails" asp-route-cityId="@item.CityId" asp-route-apartmentId="@item.ApartmentNunber">@item.ApartmentNunber</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OccupiedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepositePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FloorNumber)
                    </td>
                    <td>
                        <di class="button">
                            <a class="buttonRentStatus" href="/Tenant/TenantRentStatus?cityId=@item.CityId&tenantId=@item.TenantId&apartmentMumber=@item.ApartmentNunber">Rent status</a>
                            <a class="buttonPaymentHis" asp-area="" asp-controller="Tenant" asp-action="GetAllPaymentsHistory" asp-route-tenantId="@item.TenantId">Payments history</a>
                        </di>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>



