@model IEnumerable<Logement.ViewModels.PaymentHistoryViewModel>

@{
    ViewData["Title"] = "GetAllPaymentsHistory";
}

<style>
    .body {
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .table {
        margin-top: 50px;
    }
</style>

<section class="body">
    <h3 style="margin-top:10px;">Payment history</h3>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApartmentNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenantFullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfMonthPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaidDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApartmentNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenantFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfMonthPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidDate)
                    </td>
                    <td>
                        <a href="@Url.Action("DownloadReceipt", "Tenant", new { paymentId = item.Id })" class="btn btn-primary">Download Receipt</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

