@model IEnumerable<Logement.ViewModels.PaymentHistoryViewModel>

@{
    ViewData["Title"] = "GetAllPaymentsHistory";
}

<h3>Payment history</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenantFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfMonthPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfMonthPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidDate)
                </td>
                @if ((User.IsInRole("Admin")) || (User.IsInRole("SystemAdmin")))
                {
                   <td>
                      <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                   </td>  
                }               
            </tr>
        }
    </tbody>
</table>
