@model IEnumerable<Logement.ViewModels.CityViewModel>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Apartment list";
}
<link rel="stylesheet" href="~/css/style.css">

<style>
    
    .button {
        display: flex;
        justify-content: space-between;
    }

    .buttonView {
        display: grid;
        height: 35px;
        width: 80px;
        background-color: #445744;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 500;
        margin-right: 2px;
        text-decoration: none;
        border-radius: 10px;
        place-items: center;
    }

    .paymentMessage {
        background-color: #f8c291;
        color: #fff;
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: bold;
    }

    .buttonRentStatus {
        display: grid;
        height: 35px;
        width: 100px;
        background-color: #445744;
        margin-right: 5px;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        border-radius: 10px;
        place-items: center;
    }

    .buttonPaymentHis {
        display: grid;
        height: 35px;
        width: 150px;
        background-color: #e65959;
        margin: auto;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        border-radius: 10px;
        place-items: center;
    }
</style>


<div class="body" style="background: url(../img/pexels-sheep-1846386.jpg) center / cover;">
    <div class="table">
        <section class="table_header">
            <h1 style="font-size: 1.5rem; font-family:Arial;"><strong>Cities</strong></h1>
            <span>
                <a class="btn btn-success" href="@Url.Action("AddCity", "City")">
                    <span>Add City</span>
                    <i class="fa fa-plus"></i>
                </a>
            </span>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="~/img/search.png" alt="">
            </div>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApartmentNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Town)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LocatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumbersOfApartment)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Floor)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if(item.CityMemberRole == Logement.Data.Enum.CityMemberRoleEnum.Tenant){
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApartmentNumber)
                                </td>
                            }
                            else if (item.CityMemberRole == Logement.Data.Enum.CityMemberRoleEnum.Landord)
                            {
                                 <td>
                                    <a class="city-name" asp-controller="City" asp-action="EditCity" asp-route-id="@item.Id">@item.Name</a>
                                </td>   
                                <td>
                                    <span class="landlord-data" style="color: #FF0000; font-weight: bold;">Landlord</span>
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Town)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumbersOfApartment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Floor)
                            </td>
                            <td>
                                @if(item.CityMemberRole == Logement.Data.Enum.CityMemberRoleEnum.Landord){
                                    <di class="button">
                                        @if (item.NextPaymentDate <= DateTime.UtcNow)
                                        {
                                            <span class="paymentMessage">Payment Due</span>
                                        }
                                        else
                                        {
                                            <a class="buttonView" href="/Apartment/Index?cityId=@item.Id">View</a>
                                        }
                                    </di>
                                }
                                else if(item.CityMemberRole == Logement.Data.Enum.CityMemberRoleEnum.Tenant)
                                {
                                    var currentUser = await UserManager.GetUserAsync(User);
                                    <di class="button">
                                        <a class="buttonRentStatus" href="/Tenant/TenantRentStatus?cityId=@item.Id&tenantId=@currentUser.Id&apartmentMumber=@item.ApartmentNumber">Rent status</a>
                                        <a class="buttonPaymentHis" asp-area="" asp-controller="Tenant" asp-action="GetAllPaymentsHistory" asp-route-tenantId="@currentUser.Id">Payments history</a>
                                    </di>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>

<script src="~/js/site.js"></script>