@model IEnumerable<Logement.ViewModels.ApartmentViewModel>

@{
    ViewData["Title"] = "ApartmentList";
}

<div id ="PlaceHolderHere"></div>
<h3>Apartments List</h3>

<p>
    <a asp-action="AddApartment">Add a new Apartment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfbathRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepositePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfParkingSpaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfbathRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfParkingSpaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part)
            </td>
            <td>
                <img src="@item.ImageURL" style="width: 50px;">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                     
                    @if (item.Status.Equals(Logement.Data.Enum.ApartmentStatusEnum.Free))
                    {
                         <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addTenant"
                                 data-url="@Url.Action("GetAllUsersPartialView")?apartmentId=@item.Id">
                            Assign
                        </button>
                    }
                    else if (item.Status.Equals(Logement.Data.Enum.ApartmentStatusEnum.Under_construction))
                    {
                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addTenant"
                                 data-url="@Url.Action("GetAllUsersPartialView")?apartmentId=@item.Id">
                            Assign
                        </button>
                    }
                    else if (item.Status.Equals(Logement.Data.Enum.ApartmentStatusEnum.Busy))
                    {
                        <button type="button" id="not-allowed" class="btn btn-primary" disabled data-toggle="ajax-modal" data-target="#addTenant"
                        data-url="@Url.Action("GetAllUsersPartialView")?apartmentId=@item.Id">
                            Assign
                        </button>
                    }     
            </td>
        </tr>
}
    </tbody>
</table>


<style>
    .description {
        width: 160px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    #not-allowed{
        cursor: not-allowed;
        pointer-events: all !important;
    }
</style>