@model IEnumerable<Logement.ViewModels.ApartmentViewModel>

@{
    ViewData["Title"] = "ApartmentList";
}

<section class="content-header">
<h1>
    Apartments  
</h1>
</section>

<table class="table">
    <thead>
        <tr>          
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentNunber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfbathRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepositePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfParkingSpaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ApartmentNunber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfbathRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfParkingSpaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part)
            </td>
            <td>
                <img src="@item.ImageURL" style="width: 50px;">
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>                  
            </td>
        </tr>
}
    </tbody>
</table>


<script src="/js/site.js"></script>
<style>
    .description {
        width: 160px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    #not-allowed{
        cursor: not-allowed;
        pointer-events: all !important;
    }
</style>