@model IEnumerable<Logement.ViewModels.TenantRentApartmentViewModel>

@{
    ViewData["Title"] = "GetAllTenants";
}

<h3>List of all tenants</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenantEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenantPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepositePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaidByTenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartOfContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOfContract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenantEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenantPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaidByTenant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartOfContract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOfContract)
            </td>
            <td>
                <a href="/TenantApartment/TenantRentStatus?tenantEmail=@item.TenantEmail">Rent status</a> |
                <a asp-area="" asp-controller="TenantApartment" asp-action="GetAllPaymentsHistory" asp-route-userEmail="@item.TenantEmail">Payment history</a>
            </td>
        </tr>
}
    </tbody>
</table>
