@model IEnumerable<Logement.ViewModels.TenantRentApartmentViewModel>

@{
    ViewData["Title"] = "GetAllTenants";
}

<h3>List of all tenants</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenantEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenantPhoneNumber)
            </th>
            <th>Apartment price</th>
            <th>
                @Html.DisplayNameFor(model => model.DepositePrice)
            </th>
            <th>
                First payment
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
               Contract Effective date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOfContract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepositePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaidByTenant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartOfContract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndOfContract)
                </td>
                <td>
                    <di class="button">
                        <a class="buttonRentStatus" href="/TenantApartment/AllTenantRentStatus?tenantEmail=@item.TenantEmail">Rent status</a>
                        <a class="buttonPaymentHis" asp-area="" asp-controller="TenantApartment" asp-action="GetAllPaymentsHistory" asp-route-userEmail="@item.TenantEmail">Payments history</a>
                    </di>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>

    .button{
        display: flex;
        justify-content: space-between;
    }
    .buttonRentStatus {
        display: grid;
        height: 35px;
        width: 80px;
        background-color: #445744;
        margin-right: 5px;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        border-radius: 10px;
        place-items: center;
    }

    .buttonPaymentHis {
        display: grid;
        height: 35px;
        width: 115px;
        background-color: #e65959;
        margin: auto;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 500;
        text-decoration: none;
        border-radius: 10px;
        place-items: center;
    }

    h3{
        color: #cba40b;
        font-family: 'Trocchi', serif;
        font-size: 30px;
        font-weight: normal;
        line-height: 35px;
        margin: 0;
    }
</style>
