@model Logement.ViewModels.ApartmentBaseInfos

@{
    ViewData["Title"] = "Apartment infos";
}

<link rel="stylesheet" href="~/css/apartmentsInfos.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style>
    .content-header {
        margin: 0;
        font-size: 30px;
    }

    .body {
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .table {
        margin-top: 50px;
    }
</style>

<section class="body">
    <div>
        <section class="content-header">
            <h1>
                Apartment
            </h1>
        </section>    
        <section>
            <div class="images_owner_contact">
                <div class="apartment-gallery">
                    @foreach (var image in Model.ApartmentImages)
                    {
                        <div class="apartment-image">
                            <img src="data:@image.ContentType;base64,@Convert.ToBase64String(image.Data)" alt="Apartment Image" class="rounded-image">
                            <div class="overlay">
                                <a href="#modal" class="image-link"><i class="fas fa-expand"></i></a>
                            </div>
                        </div>
                    }
                </div>
                <div class="contact-section">
                  
                    <div class="contact-form">
                       @*<div class="phone-number">Phone @Model.ApartmentInfos.LandlordPhoneNumber</div>*@
                        <span class="circle one"></span>
                        <span class="circle two"></span>

                       @* <div class="email">Email: <a href="mailto:@Model.ApartmentInfos.LandlordEmail" class="email-link">@Model.ApartmentInfos.LandlordEmail</a></div>*@
                        <form action="/Home/SendMessage" method="post" autocomplete="off">
                            <h3 class="title">Contact the Owner</h3>
                            <div class="input-container">
                                <input type="text" id="name" name="name" required class="input">
                                <label for="name">Name</label>
                                <span>Name</span>
                            </div>
                            <div class="input-container">
                                <input type="email" id="email" name="email" required class="input">
                                <label for="email">Email</label>
                                <span>Email</span>
                            </div>
                            <div class="input-container">
                                <textarea id="message" name="message" required class="input"></textarea>
                                <label for="message">Message</label>
                                <span>Message</span>
                            </div>
                            <input type="hidden" name="apartmentId" value="@Model.ApartmentInfos.Id" />
                            <input type="hidden" name="landlordEmail" value="@Model.ApartmentInfos.LandlordEmail" />
                            <button type="submit" class="send-btn btn-primary" style="margin-top:10px">Send</button>
                        </form>
                    </div>
                </div>
            </div>
           
            <div class="apartment-information" style="margin-top:40px;">
                <h2 class="about-the-property u-freetext-fix" style="margin-bottom:20px;">About this rental</h2>
                <ul class="four-pack list-unstyled">
                    <li class="four-pack__block">
                        <div class="apartment-type four-pack__block-title h3 margin-bottom-0x">@Model.ApartmentInfos.ApartmentType</div>
                        <ul class="four-pack__block-body list-unstyled list-inline text-muted margin-bottom-0x">
                            <li four-pack__detail-item>
                                @Model.ApartmentInfos.RoomArea m²
                            </li>
                        </ul>
                    </li>
                    <li class="four-pack__block">
                        <div class="four-pack__block-title h3 margin-bottom-0x">
                            Bedrooms
                        </div>
                        <ul class="four-pack__block-body list-unstyled list-inline text-muted margin-bottom-0x">
                            <li four-pack__detail-item>
                                @Model.ApartmentInfos.NumberOfRooms
                            </li>
                        </ul>
                    </li>
                    <li class="four-pack__block">
                        <div class="four-pack__block-title h3 margin-bottom-0x">
                            Bathroom
                        </div>
                        <ul class="four-pack__block-body list-unstyled list-inline text-muted margin-bottom-0x">
                            <li four-pack__detail-item>
                                @Model.ApartmentInfos.NumberOfbathRooms
                            </li>
                        </ul>
                    </li>
                    <li class="four-pack__block">
                       <div class="four-pack__block-title h3 margin-bottom-0x">
                            Located at
                        </div>
                        <ul class="four-pack__block-body list-unstyled list-inline text-muted margin-bottom-0x">
                            <li four-pack__detail-item>
                                @Model.ApartmentInfos.LocatedAt
                            </li>
                        </ul>
                    </li>
                    <li class="four-pack__block">
                       <div class="four-pack__block-title h3 margin-bottom-0x">
                            Located at
                         </div>
                        <ul class="four-pack__block-body list-unstyled list-inline text-muted margin-bottom-0x">
                            <li four-pack__detail-item>
                                @Model.ApartmentInfos.LocatedAt
                            </li>
                        </ul>
                    </li>
                    <li class="four-pack__block">
                        <div class="four-pack__block-title h3 margin-bottom-0x">
                            Floor
                        </div>
                        <ul class="four-pack__block-body list-unstyled list-inline text-muted margin-bottom-0x">
                            <li four-pack__detail-item>
                                @Model.ApartmentInfos.FloorNumber Fl
                            </li>
                        </ul>
                    </li>
                    <li class="four-pack__block">
                        <div class="four-pack__block-title h3 margin-bottom-0x">
                            Price per month
                        </div>
                        <ul class="four-pack__block-body list-unstyled list-inline text-muted margin-bottom-0x">
                            <li four-pack__detail-item>
                                @Model.ApartmentInfos.Price FCFA
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
           
            <!-- Modal -->
            <div id="modal" class="modal">
                <div class="modal-content">
                    <a href="#close" class="close-button"><i class="fas fa-times"></i></a>
                    <div class="modal-image">
                        <img src="" alt="Modal Image" id="modal-image">
                    </div>
                    <a href="#prev" class="prev-button"><i class="fas fa-chevron-left"></i></a>
                    <a href="#next" class="next-button"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </section>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var images = $(".apartment-image");
        var currentImageIndex = 0;

        $(".image-link").click(function (e) {
            e.preventDefault();
            var imageUrl = $(this).closest(".apartment-image").find("img").attr("src");
            $("#modal-image").attr("src", imageUrl);
            $("#modal").fadeIn();
        });

        $(".close-button").click(function (e) {
            e.preventDefault();
            $("#modal").fadeOut();
        });

        $(".prev-button").click(function (e) {
            e.preventDefault();
            currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
            var imageUrl = images.eq(currentImageIndex).find("img").attr("src");
            $("#modal-image").attr("src", imageUrl);
        });

        $(".next-button").click(function (e) {
            e.preventDefault();
            currentImageIndex = (currentImageIndex + 1) % images.length;
            var imageUrl = images.eq(currentImageIndex).find("img").attr("src");
            $("#modal-image").attr("src", imageUrl);
        });
    });

    const inputs = document.querySelectorAll(".input");

    function focusFunc() {
        let parent = this.parentNode;
        parent.classList.add("focus");
    }

    function blurFunc() {
        let parent = this.parentNode;
        if (this.value == "") {
            parent.classList.remove("focus");
        }
    }

    inputs.forEach((input) => {
        input.addEventListener("focus", focusFunc);
        input.addEventListener("blur", blurFunc);
    });
</script>